---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
projects.sort((a, b) => a.data.order - b.data.order);
---

<section id="projects" class="p-8 sm:p-12 md:p-16 lg:p-24">
	<div>
		<div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
			<div class="lg:col-span-4">
				<h2
					class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-100"
				>
					Projects
				</h2>
			</div>

			<div class="lg:col-span-8">
				<div class="pt-4">
					<div class="flex flex-wrap gap-3 pb-5">
						{
							projects
								.flatMap((project) => project.data.tech || [])
								.filter((tech, index, arr) => arr.indexOf(tech) === index)
								.sort((a, b) => {
									const nameA = a.split('#')[0].toLowerCase();
									const nameB = b.split('#')[0].toLowerCase();
									return nameA.localeCompare(nameB);
								})
								.map((tech) => {
									const [name, hex] = tech.split('#');
									const color = hex ? `#${hex}` : '#111827';
									return (
										<span
											class="px-3 sm:px-4 py-1.5 sm:py-2 text-gray-100 rounded-lg text-sm sm:text-base md:text-lg font-medium transition-colors duration-200"
											style={{ backgroundColor: `${color}50` }}
										>
											{name}
										</span>
									);
								})
						}
					</div>
				</div>
				<div class="space-y-8">
					{
						projects.map(async (project, index) => {
							const { Content } = await project.render();
							return (
								<div class="group relative">
									<div class="block relative p-4 sm:p-6 md:p-8 bg-gray-800/20 rounded-xl sm:rounded-2xl transition-all duration-300 backdrop-blur-sm">
										<div class="space-y-4">
											<div class="space-y-2">
												<span class="text-sm font-mono text-blue-500">
													{String(index + 1).padStart(2, '0')}
												</span>
												<div class="flex justify-between items-start gap-4">
													<div>
														<h3 class="text-xl sm:text-2xl font-bold text-gray-100 mt-1">
															{project.data.title}
														</h3>
													</div>
													<div>
														{project.data.location && (
															<span class="text-sm text-gray-300 font-medium whitespace-nowrap">
																{project.data.location}
															</span>
														)}
														<div class="text-sm text-gray-300 font-mono">
															{project.data.dateStart}
															{project.data.dateEnd &&
																` – ${project.data.dateEnd}`}
															{!project.data.dateEnd && ' – Present'}
														</div>
													</div>
												</div>
											</div>

											<div class="text-base sm:text-lg text-gray-400 leading-relaxed">
												<Content />
											</div>
											{project.data.tech?.length > 0 && (
												<div class="flex flex-wrap gap-1.5 sm:gap-2 pt-5">
													{project.data.tech
														.sort((a, b) => {
															const nameA = a.split('#')[0].toLowerCase();
															const nameB = b.split('#')[0].toLowerCase();
															return nameA.localeCompare(nameB);
														})
														.map((tech) => {
															const [label, hex] = tech.split('#');
															const color = hex ? `#${hex}` : '#111827';
															return (
																<span
																	class="px-2.5 sm:px-3 py-1 sm:py-1.5 text-white rounded-md sm:rounded-lg text-xs sm:text-sm font-medium transition-all duration-300"
																	style={{ backgroundColor: `${color}50` }}
																>
																	{label}
																</span>
															);
														})}
												</div>
											)}
										</div>
									</div>
								</div>
							);
						})
					}
				</div>
			</div>
		</div>
	</div>
</section>
