---
import Meta from '../../components/Meta.astro';
import Background from '../../components/Background.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import '../../styles/global.css';

export async function getStaticPaths() {
	const projects = await getCollection('projects');

	const years = [
		...new Set(
			projects.map((project) =>
				new Date(project.data.date).getFullYear().toString(),
			),
		),
	];

	return years.map((year) => ({
		params: { year },
		props: {
			year,
			projects: projects
				.filter(
					(project) =>
						new Date(project.data.date).getFullYear().toString() === year,
				)
				.sort(
					(a, b) =>
						new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
				),
		},
	}));
}

const { year, projects } = Astro.props;
---

<html lang="en">
	<head>
		<Meta title={`Projects - ${year}`} />
	</head>

	<body class="relative bg-gray-900 text-gray-200">
		<Background />
		<Header />

		<section class="p-16 lg:p-24 min-h-[75vh]">
			<div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
				<!-- Left Column -->
				<div class="lg:col-span-4 sticky lg:top-20 self-start">
					<div
						class="text-xs sm:text-sm font-mono text-gray-400 uppercase tracking-wider"
					>
						<span class="mx-1 opacity-60">/</span>
						<a
							href="/projects"
							class="hover:text-white transition-colors duration-200"
						>
							projects
						</a>

						<span class="mx-1 opacity-60">/</span>

						<a
							href={`/projects/${year}`}
							class="hover:text-white transition-colors duration-200"
						>
							{year}
						</a>
					</div>

					<h2
						class="mt-4 text-4xl md:text-5xl xl:text-7xl font-bold text-gray-100"
					>
						{year}
					</h2>

					<p class="mt-6 text-gray-400">
						Collection of projects I've worked on in the year {year}.
					</p>
				</div>

				<!-- Posts -->
				<div class="lg:col-span-8 space-y-8">
					{
						projects.map((project, index) => (
							<div class="group relative">
								<a
									href={`/projects/${project.slug}`}
									class="block relative p-4 sm:p-6 md:p-8 bg-gray-800/20 rounded-xl sm:rounded-2xl transition-all duration-300 backdrop-blur-sm hover:bg-gray-800/40"
								>
									<div class="space-y-4">
										<div class="space-y-2">
											<div class="flex justify-between items-start gap-4">
												<h3 class="text-xl sm:text-2xl font-bold text-gray-100 mt-1 group-hover:text-white transition-colors">
													{project.data.title}
												</h3>

												<span class="text-sm text-gray-300 font-mono">
													{new Date(project.data.date).toLocaleDateString(
														'en-US',
														{
															month: 'short',
															day: 'numeric',
														},
													)}
													{' - '}
													{project.data.dateEnd
														? new Date(project.data.dateEnd).toLocaleDateString(
																'en-US',
																{
																	month: 'short',
																	day: 'numeric',
																},
															)
														: 'OnGoing'}
												</span>
											</div>
										</div>

										<p class="text-base sm:text-lg text-gray-400 leading-relaxed">
											{project.body.includes('<!--card-->')
												? project.body.split('<!--card-->')[0].trim()
												: project.body.slice(0, 125).trim() +
													(project.body.length > 125 ? '...' : '')}
										</p>
									</div>
								</a>
							</div>
						))
					}
				</div>
			</div>
		</section>

		<Footer />
	</body>
</html>
