---
import Core from "../../layouts/Core.astro";
import { getCollection } from "astro:content";
import Breadcrumb from "../../components/core/Breadcrumb.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const projects = await getCollection("projects");

projects.sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
});

const projectsByYear = projects.reduce(
  (acc, project) => {
    const year = new Date(project.data.date).getFullYear();

    if (!acc[year]) {
      acc[year] = [];
    }

    acc[year].push(project);
    return acc;
  },
  {} as Record<number, typeof projects>,
);

const groupedYears = Object.entries(projectsByYear).sort(
  ([yearA], [yearB]) => Number(yearB) - Number(yearA),
);
const tagMap = new Map<string, number>();

for (const project of projects) {
  for (const tags of project.data.tags || []) {
    const [name] = tags.split("#");
    const key = name;

    tagMap.set(key, (tagMap.get(key) || 0) + 1);
  }
}

const tags = [...tagMap.entries()].sort((a, b) => a[0].localeCompare(b[0]));
---

<Core
  title="Projects | Huskey.cc"
  description="A collection of projects I've worked on, showcasing my skills and experience in various technologies and domains. Each project includes a brief description, the technologies used, and the date it was completed."
>
  <section id="projects" class="p-16 lg:p-24 min-h-[75vh]">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4 sticky lg:top-20 self-start">
        <Breadcrumb items={[{ label: "projects", href: "/projects" }]} />
        <h2
          class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-100"
        >
          Projects
        </h2>
        <p class="mt-6 text-base sm:text-lg text-gray-400 leading-relaxed">
          A collection of projects I've worked on across different technologies,
          roles, and experiments.
        </p>
        <div class="mt-8">
          <h3
            class="text-xs font-mono text-white/40 uppercase tracking-wider mb-3"
          >
            tags
          </h3>

          <div class="flex flex-wrap gap-2">
            {
              tags.map(([tag, count]) => (
                <a
                  href={`/projects/tags/${tag.toLocaleLowerCase()}`}
                  class="px-2.5 py-1 text-xs sm:text-sm rounded-md
          text-white/70
          bg-white/5
          border border-white/5

          transition-all duration-300
          hover:bg-white/10
          hover:border-white/10
          hover:text-white"
                >
                  {tag}
                  <span class="text-white/40 ml-1">({count})</span>
                </a>
              ))
            }
          </div>
        </div>
      </div>

      <!-- Posts Column -->
      <div class="lg:col-span-8 space-y-8">
        {
          groupedYears.map(([year, projects]) => (
            <div class="space-y-2">
              <div class="flex items-center gap-4 pt-8">
                <a
                  href={`/projects/${year}`}
                  class="text-2xl font-bold text-gray-100 font-mono hover:text-white transition-colors"
                >
                  {year}
                </a>
                <div class="flex-1 h-px bg-gray-700/50" />
              </div>
              {projects.map((project) => (
                <ProjectCard project={project} />
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Core>
